html {
    font-family: 'Poppins', sans-serif;
}

footer img {
    width: 7.5%;
    margin-left: 5.5%;
    padding-right: 9.3%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 3%;
    overflow: auto;
}

footer a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    position: relative;
    font-weight: bold;
    bottom: 43px;
    padding-right: 10px;
    size: 4%
}

h1 {
    font-size: 510%;
    color:rgb(75, 75, 75);
}

h2 {
    color:rgb(75, 75, 75);
}

#indexPage {
    background-image: url('indexBackground.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 24.5%;
}

#aboutPage {
    background-image: url('aboutBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 25%;
}

.sidenav {
    width: 22%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: 'white';
    overflow-x: hidden;
    padding-top: 35px;
    font-family: 'Poppins', sans-serif;
    margin-top:190px;
}

.sidenav a {
    padding: 9px 9px 9px 27%;
    text-decoration: none;
    font-size: 130%;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: grey;
}

.main {
    margin-left: 22%;
    padding: 0px 10px;
    margin-top: 13.2%;
}

.aboutMeParagraph {
    overflow-wrap: normal
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
